
@{
    ViewBag.Title = "Error";
    Layout = null;
}
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <p>
            Üzgünüm,böyle bir sayfamız yok.
            <br /> <br />
        </p>
        @Html.ActionLink("Ana Sayfaya Git!", "Index", "Home", null, new { @class = "btn btn-primary" })
    </body>
    </html>



